@font-face {
    font-family: 'Adobe Handwriting';
    src: url('./fonts/AdobeHandwriting/AdobeHandwriting-Ernie.woff2') format('woff2'),
        url('./fonts/AdobeHandwriting/AdobeHandwriting-Ernie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

