{% extends 'blocks/base.blocks/base/base.twig' %}



{% block content %}
  <div class="container-fluid">
    <div class="row">
      <main class="goda-wrap">
        <ul class="goda__period">
          <li id="1" class="goda__period_item active">
            <img src="img/pediod-1.png" alt="">
            1919-1923
          </li>
          <li id="2" class="goda__period_item">
            <img src="img/pediod-2.png" alt="">
            1923-1930
          </li>
          <li id="3" class="goda__period_item">
            <img src="img/pediod-3.png" alt="">
            1930-1937
          </li>
          <li id="4" class="goda__period_item">
            <img src="img/pediod-4.png" alt="">
            1937-1941
          </li>
          <li id="5" class="goda__period_item">
            <img src="img/pediod-5.png" alt="">
            1941-1945
          </li>
          <li id="6" class="goda__period_item">
            <img src="img/pediod-6.png" alt="">
            1945-1953
          </li>
        </ul>
        <div class="goda__period-description">
          <section class="goda__period-description_item active" for="1">
            <h2>
              Красный террор
            </h2>
            <p>
              Революция 1917 года кардинально
              изменила обстановку в стране,
              а также ее структуру. Начавшаяся
              в связи с этим гражданская война
              породила новую карательную
              систему, а именно первые
              концентрационные лагеря.
            </p>
            <button>
              Связанные темы
            </button>
            <div class="goda__period-description_themes">
              <button>
                Назад
              </button>
              <div class="div">
                {% for item in 1..5 %}
                  <a href="#">
                    Тема №{{ item }}
                  </a>
                {% endfor %}
              </div>
            </div>
          </section>
          {% for item in 2..6 %}
            <section class="goda__period-description_item" for="{{ item }}">
              <h2>
                {{ item }} Красный террор
              </h2>
              <p>
                Революция 1917 года кардинально
                изменила обстановку в стране,
                а также ее структуру. Начавшаяся
                в связи с этим гражданская война
                породила новую карательную
                систему, а именно первые
                концентрационные лагеря.
              </p>
              <button>
                Связанные темы
              </button>
              <div class="goda__period-description_themes">
                <button>
                  Назад
                </button>
                <div class="div">
                  {% for item in 1..5 %}
                    <a href="#">
                      Тема №{{ item }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </section>
          {% endfor %}
        </div>
      </main>
    </div>
  </div>
{% endblock %}
