@import "./base";

.history-page {
  width: 100%;
  height: 100vh;

  &__years {
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &::before {
      position: absolute;
      top: 0;
      content: '';
      width: 18px;
      height: 100%;
      background: linear-gradient(to bottom, #ca9f75, #bf5f4b);
    }
  }

  &__year-item {
    position: relative;
    padding-left: 30px;
    font-family: "B52";
    font-weight: 700;
    font-size: 36px;
    color: #ca9f75;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
      content: '';
      width: 30px;
      height: 18px;
      background: linear-gradient(to bottom, #ca9f75, #bf5f4b);
    }

    &--active {
      font-family: 'BravoSC';
      font-size: 50px;
    }
  }

  &__sliders-wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
  }
}

.history {
  &__text-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &__text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &_item {
      width: 100%;
      height: 100%;
      background-size: cover;

      & img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &_slide {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(-5deg);
      background-image: url('./img/history-page/history-text-bg.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 500px;
      height: auto;
      height: 90vh;
      overflow: hidden;
      padding: 80px 70px 80px;
      font-family: $caveat;
      font-size: 18px;
      font-weight: 400;

      &.animation {
        animation: slideAnim 1s ease-out;
      }

      & h3 {
        font-family: 'BravoSC';
        font-size: 30px !important;
        color: #000;
        line-height: 1.1;
        margin-bottom: 15px;
        position: relative;

        & img {
          position: absolute;
          width: 100px;
          height: auto;
          top: 30px;
          left: 65%;
        }
      }

      & p {
        margin-bottom: 10px;
      }

      &_last {
        background: linear-gradient(to right, #ca9e74, #c9926d);
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 800px;
        height: 100px;
        font-family: 'BravoSC';
        font-size: 30px;
        color: #000;
        text-align: center;
        padding: 10px 20px;

        & img {
          position: absolute;
          top: 100px;
          left: 50%;
          transform: translateX(-50%);
          width: auto;
          height: calc(100vh - 150px);
        }
      }
    }
  }
}

@keyframes slideAnim {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
