@import "./base";
@import "../fonts/Bravo/fonts.css";

.raimond-kaugver-history-page {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__years {
    max-width: 0;
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &::before {
      position: absolute;
      top: 0;
      content: '';
      width: 18px;
      height: 100%;
      background: linear-gradient(to bottom, #ca9f75, #bf5f4b);
    }
  }

  &__year-item {
    position: relative;
    padding-left: 30px;
    font-weight: 700;
    font-size: 25px;
    color: #ca9f75;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
      content: '';
      width: 30px;
      height: 18px;
      background: linear-gradient(to bottom, #ca9f75, #bf5f4b);
    }

    &--active {
      font-size: 30px;
      text-decoration: underline;
    }
  }

  &__sliders-wrap {
    transition: transform 500ms ease;
  }

  &__slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }


  .text-on-paper p {
    font-family: 'Adobe Handwriting';
    line-height: 1.11;
    color: rgba(0,0,0, 0.8);
    font-size: 20px;
  }
}


.kaugver-slide1, .kaugver-slide2, .kaugver-slide3, .kaugver-slide4, .kaugver-slide5 {
  &__text-wrapper {
    top: 50%;
    position: absolute;
    height: 90%;
    left: 50%;
    width: 500px;
    transition: 150ms ease;
    padding: 70px 60px 41px 50px;

    & p {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 1.1;
      font-family: $caveat;
    }
  }

  &__image-right {
    height: 95%;
    transform: translateY(-50%);

    &--center {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.raimond-kaugver-history-page {

  .kaugver-slide1 {
    background-image: url('/img/raimond-kaugver-history/bg-1.jpg');

    &__text-wrapper {
      background-image: url('/img/raimond-kaugver-history/page-with-title.png');
      padding-top: 12%;
      padding-left: 66px;
    }

    &__image1 {
      height: 45%;
      transform: translate(35%, -56%) rotate(4deg);

      &.slide-image--hover-triggered:hover {
        transform: translate(35%, -56%) scale(1.1);
      }
    }

  }

  .kaugver-slide2 {
    background-image: url('/img/raimond-kaugver-history/bg-2.jpg');

    &__image-right {
      transform: translate(41.7%, -54%) rotate(10deg);
      height: 70%;

      &.slide-image--hover-triggered:hover {
        transform: translate(41.7%, -54%) scale(1.1);
      }
    }

    &__image-left {
      transform: translate(-153.3%, -48%) rotate(-10deg);
      height: 60%;

      &.slide-image--hover-triggered:hover {
        transform: translate(-153.3%, -48%) scale(1.1);
      }
    }
  }

  .kaugver-slide3 {
    background-image: url('/img/raimond-kaugver-history/bg-3.jpg');

    &__image1 {
      height: 65%;
      transform: translate(-147%, -44%) rotate(-19deg);

      &.slide-image--hover-triggered:hover {
        transform: translate(-147%, -44%) scale(1.1);
      }
    }

    &__image2 {
      height: 65%;
      transform: translate(45%, -47%) rotate(9deg);

      &.slide-image--hover-triggered:hover {
        transform: translate(45%, -47%) scale(1.1);
      }
    }
  }

  .kaugver-slide4 {
    background-image: url('/img/raimond-kaugver-history/bg-4.jpg');

    &__text-wrapper {
      padding-top: 150px;
    }


    &__sign {
      position: absolute;
      width: 220px;
      height: auto;
      top: 15px;
      left: 40%;
      transition: all 150ms ease-in;

      &:hover {
        transform: scale(1.7);
      }
    }

    &__image1 {
      height: 60%;
      transform: translate(-151%, -44%) rotate(-19deg);

      &.slide-image--hover-triggered:hover {
        transform: translate(-151%, -44%) scale(1.1);
      }
    }

    &__image2 {
      height: 50%;
      transform: translate(24%, -47%) rotate(9deg);

      &.slide-image--hover-triggered:hover {
        transform: translate(24%, -47%) scale(1.1);
      }
    }
  }

  .slide-image {
    will-change: height;
    position: absolute;
    transition: 200ms ease-in;
    top: 50%;
    left: 50%;

    &--active {
      z-index: 100;
      height: 100%;
      cursor: pointer;
      transform: translate(-50%, -50%);
    }

    &--hover-triggered {
      &:hover {
        cursor: pointer;
      }
    }
  }

}
