.victims-page {
  height: 100%;
  background-image: url('./img/victims-page/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__slider-arrow-left,
  &__slider-arrow-right {
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }

  &__slider-arrow-right {
    right: 0;
  }

  &__slider-arrow-left {
    left: 0;
  }


  &__slider-item-name {
    display: none;
    background-color: #af6753;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 318px;
    padding: 0 10px;
    font-size: 50px;
    font-family: "BravoSC";
    color: #fff;
    line-height: 1.2;
    text-align: right;
    word-spacing: 100px;
  }


  img#{&}__slider-item-background {
    display: none;
    position: absolute;
    top: 50%;
    left: -50%;
    height: 120%;
    transform: translateY(-50%) translateX(55px);
    z-index: -1;
  }

  &__slider-item {
    position: relative;

    &:hover {
      img.victims-page__slider-item-background {
        display: block;
      }

      .victims-page__slider-item-name {
        display: block;
      }
    }

    a:focus {
      outline: none;
    }
  }

}

.slick-slide {
  margin: 0 40px;
}

.slick-list {
  overflow: visible;
}
