{% extends './layout.twig' %}



{% block content %}
  <main class="deportation-page">
    <div class="deportation-page__sliders-wrap">
      <div class="deportation-page__slide slide1">
        <div class="deportation-page__text-block">
          <p>
            Депортация народов во времена ВОВ занимает особое место
            в истории карательной системы СССР.
          </p>
          <p>
            - Принудительная депортация- вид наказания, применявшийся в СССР
            с самого начала его существования. Наказание заключается в
            принудительной выссылке в отдаленную местность, не характерную
            для проживания высылаемого лица.
          </p>
          <p>
            - Депортации в СССР подвергались самые разные группы граждан.
            Зачастую выссылались целые народности, которые каким-то образом
            не угодили высшему руководству.
          </p>
          <p>
            - Пик депортации пришелся на Великую Отечественную Войну.
          </p>
        </div>
      </div>
      <div class="deportation-page__slide slide2">
        <div class="calendar">
          <img src="/img/deportation-page/calendar.png" alt="" class="calendar__photo">
        </div>
        <div class="deportation-map__wrapper">
          <img src="/img/deportation-page/map-document.png" alt="" class="deportation-map__document">
          <img src="/img/deportation-page/map.png" alt="Карта" class="deportation-map">
          <div class="deportation-map__text">
            Принят Указ Президиума ВС СССР «О переселении немцев, проживающих в районах Поволжья»
          </div>
        </div>
      </div>
      <div class="deportation-page__slide slide3">
        <div class="calendar">
          <img src="/img/deportation-page/calendar.png" alt="" class="calendar__photo">
        </div>
        <div class="deportation-document__wrapper">
          <img class="deportation-document" src="/img/deportation-page/document-photo.png">
          <div class="deportation-document__text">Было принято Постановление Совета Народных Комиссаров СССР
            «О правовом положении спецпереселенцев»
          </div>
        </div>
      </div>
      <div class="deportation-page__slide slide4">
        <div class="deportation-page__text-block">
          <p>
            Всего за годы войны было выселено более 2.000.000 человек.
          </p>
          <p>
            Это тысячи семей, которые были брошены выживать в совершенно новых и суровых
            условиях жизни. Тысячи поломанных судеб, тысячи брошенных детей.
          </p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
