{% extends './layout.twig' %}



{% block content %}
  <main class="deportation-page">
    <div class="deportation-page__sliders-wrap">
      <div class="deportation-page__slide slide1">
        <p class="deportation-page__slide--text-block">
          Депортация народов во времена ВОВ занимает особое место
          в истории карательной системы СССР.

          -Принудительная депортация- вид наказания, применявшийся в СССР
          с самого начала его существования. Наказание заключается в
          принудительной выссылке в отдаленную местность, не характерную
          для проживания высылаемого лица.
          - Депортации в СССР подвергались самые разные группы граждан.
          Зачастую выссылались целые народности, которые каким-то образом
          не угодили высшему руководству.
          -Пик депортации пришелся на Великую Отечественную Войну.
        </p>
      </div>
    </div>
  </main>
{% endblock %}
