{% extends './layout.twig' %}



{% block content %}
  <div class="container-fluid">
    <div class="row">
      <main class="history-wrap">
        <ul class="history__years">
          <li id="1" class="history__years_item active">
            10е-20е
          </li>
          <li id="2" class="history__years_item">
            20-е
          </li>
          <li id="3" class="history__years_item">
            30-е
          </li>
          <li id="4" class="history__years_item">
            50е-70е
          </li>
          <li id="5" class="history__years_item">
            НАШИ ДНИ
          </li>
        </ul>
        <div class="history__text-wrap">
          <div class="history__text">
            <div for="1" class="history__text_item" style="background-image:url('img/history-page/history-bg-1.jpg')">
              <img src="img/history-page/history-img-1.png" alt="" style="left: 60%;height: 95vh;">
              <div class="history__text_slide">
                <h3>
                  Из воспоминаний<br>Никитина Василия Ильича<br>10.11.1893г.р.
                  <img src="img/history-page/history-avatar.png" alt="">
                </h3>
                <p>
                  Хозяйство ликвидировали, а мы были лишены
                  избирательных прав. Моего брата Осипа выселили,
                  а сестру оставили жить в Гнездово, впоследствии ее
                  восстановили в избирательном праве.
                  Чтобы избежать высылки, мы с семьей вынуждены
                  были бросить свой дом, хозяйство в деревне и
                  завербоваться на работу во Владивосток, где я стал
                  десятником ( старший над группой рабочих) по
                  ремонту бараков для грузчиков порта, а Ефросинья
                  работала поваром. Там, нам пришлось жить в
                  бараке для рабочих в торговом порту.
                </p>
                <p>
                  В 1934 году меня арестовали и осудили по статьям:
                  ст. 58-10 и 59-3 «в» УК РСФСР.
                </p>
                <p>
                  Я всего лишь выполнял свою работу, да, я выражал
                  недовольство тем, что не привозили вовремя
                  материалы, но из-за этого работа останавливалась.
                  А из-за этого зарплату задерживали или
                  платили гроши.
                </p>
              </div>
            </div>
            <div for="2" class="history__text_item" style="background-image:url('img/history-page/history-bg-2.jpg')">
              <img src="img/history-page/history-img-2.png" alt="" style="left: 40%;height: 70vh;">
              <div class="history__text_slide">
                <p>
                  Хозяйство ликвидировали, а мы были лишены
                  избирательных прав. Моего брата Осипа выселили,
                  а сестру оставили жить в Гнездово, впоследствии ее
                  восстановили в избирательном праве.
                  Чтобы избежать высылки, мы с семьей вынуждены
                  были бросить свой дом, хозяйство в деревне и
                  завербоваться на работу во Владивосток, где я стал
                  десятником ( старший над группой рабочих) по
                  ремонту бараков для грузчиков порта, а Ефросинья
                  работала поваром. Там, нам пришлось жить в
                  бараке для рабочих в торговом порту.
                </p>
                <p>
                  В 1934 году меня арестовали и осудили по статьям:
                  ст. 58-10 и 59-3 «в» УК РСФСР.
                </p>
                <p>
                  Я всего лишь выполнял свою работу, да, я выражал
                  недовольство тем, что не привозили вовремя
                  материалы, но из-за этого работа останавливалась.
                  А из-за этого зарплату задерживали или
                  платили гроши.
                </p>
              </div>
            </div>
            <div for="3" class="history__text_item" style="background-image:url('img/history-page/history-bg-3.jpg')">
              <img src="img/history-page/history-img-3.png" alt="" style="left: 60%;height: 95vh;">
              <div class="history__text_slide">
                <p>
                  Хозяйство ликвидировали, а мы были лишены
                  избирательных прав. Моего брата Осипа выселили,
                  а сестру оставили жить в Гнездово, впоследствии ее
                  восстановили в избирательном праве.
                  Чтобы избежать высылки, мы с семьей вынуждены
                  были бросить свой дом, хозяйство в деревне и
                  завербоваться на работу во Владивосток, где я стал
                  десятником ( старший над группой рабочих) по
                  ремонту бараков для грузчиков порта, а Ефросинья
                  работала поваром. Там, нам пришлось жить в
                  бараке для рабочих в торговом порту.
                </p>
                <p>
                  В 1934 году меня арестовали и осудили по статьям:
                  ст. 58-10 и 59-3 «в» УК РСФСР.
                </p>
                <p>
                  Я всего лишь выполнял свою работу, да, я выражал
                  недовольство тем, что не привозили вовремя
                  материалы, но из-за этого работа останавливалась.
                  А из-за этого зарплату задерживали или
                  платили гроши.
                </p>
              </div>
            </div>
            <div for="4" class="history__text_item" style="background-image:url('img/history-page/history-bg-4.jpg')">
              <img src="img/history-page/history-img-4.png" alt="" style="left: 60%;height: 60vh;">
              <div class="history__text_slide">
                <p>
                  Хозяйство ликвидировали, а мы были лишены
                  избирательных прав. Моего брата Осипа выселили,
                  а сестру оставили жить в Гнездово, впоследствии ее
                  восстановили в избирательном праве.
                  Чтобы избежать высылки, мы с семьей вынуждены
                  были бросить свой дом, хозяйство в деревне и
                  завербоваться на работу во Владивосток, где я стал
                  десятником ( старший над группой рабочих) по
                  ремонту бараков для грузчиков порта, а Ефросинья
                  работала поваром. Там, нам пришлось жить в
                  бараке для рабочих в торговом порту.
                </p>
                <p>
                  В 1934 году меня арестовали и осудили по статьям:
                  ст. 58-10 и 59-3 «в» УК РСФСР.
                </p>
                <p>
                  Я всего лишь выполнял свою работу, да, я выражал
                  недовольство тем, что не привозили вовремя
                  материалы, но из-за этого работа останавливалась.
                  А из-за этого зарплату задерживали или
                  платили гроши.
                </p>
              </div>
            </div>
            <div for="5" class="history__text_item" style="background-image:url('img/history-page/history-bg-5.jpg')">
              <div class="history__text_slide_last">
                Ефросинья Осиповна умерла 06.10.1976 г., а Василий Ильич в 28.07.1978 году.
                13 августа 1998 г. Василий был реабилитирован.
                <img src="img/history-page/history-last-1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}
