{% extends './layout.twig' %}



{% block content %}
  <main class="history-page">
    <ul class="history-page__years">
      <li id="1" class="history-page__year-item history-page__year-item--active">
        10е-20е
      </li>
      <li id="2" class="history-page__year-item">
        20-е
      </li>
      <li id="3" class="history-page__year-item">
        30-е
      </li>
      <li id="4" class="history-page__year-item">
        50е-70е
      </li>
      <li id="5" class="history-page__year-item">
        НАШИ ДНИ
      </li>
    </ul>
    <div class="history-page__sliders-wrap">
      <div class="history-page__slide slide1">
        <img class="slide-image slide1__image1" src="/img/history-page/history-img-1-1.png">
        <img class="slide-image slide1__image2" src="/img/history-page/history-img-1-2.png">
        <div class="text-on-paper slide1__text-wrapper">
          <h3 class="slide1__header">
            Из воспоминаний<br>Никитина Василия Ильича<br>10.11.1893г.р.
            <img class="slide1__avatar" src="/img/history-page/history-avatar.png" alt="">
          </h3>
          <p>
            Хозяйство ликвидировали, а мы были лишены
            избирательных прав. Моего брата Осипа выселили,
            а сестру оставили жить в Гнездово, впоследствии ее
            восстановили в избирательном праве.
            Чтобы избежать высылки, мы с семьей вынуждены
            были бросить свой дом, хозяйство в деревне и
            завербоваться на работу во Владивосток, где я стал
            десятником (старший над группой рабочих) по
            ремонту бараков для грузчиков порта, а Ефросинья
            работала поваром. Там, нам пришлось жить в
            бараке для рабочих в торговом порту.
          </p>
          <p>
            В 1934 году меня арестовали и осудили по статьям:
            ст. 58-10 и 59-3 «в» УК РСФСР.
          </p>
          <p>
            Я всего лишь выполнял свою работу, да, я выражал
            недовольство тем, что не привозили вовремя
            материалы, но из-за этого работа останавливалась.
            А из-за этого зарплату задерживали или
            платили гроши.
          </p>
        </div>
      </div>
      <div class="history-page__slide slide2">
        <img class="slide2__image-right slide-image" src="/img/history-page/history-img-2.png" alt="">
        <div class="slide2__text-wrapper text-on-paper">
          <p>
            Хозяйство ликвидировали, а мы были лишены
            избирательных прав. Моего брата Осипа выселили,
            а сестру оставили жить в Гнездово, впоследствии ее
            восстановили в избирательном праве.
            Чтобы избежать высылки, мы с семьей вынуждены
            были бросить свой дом, хозяйство в деревне и
            завербоваться на работу во Владивосток, где я стал
            десятником ( старший над группой рабочих) по
            ремонту бараков для грузчиков порта, а Ефросинья
            работала поваром. Там, нам пришлось жить в
            бараке для рабочих в торговом порту.
          </p>
          <p>
            В 1934 году меня арестовали и осудили по статьям:
            ст. 58-10 и 59-3 «в» УК РСФСР.
          </p>
          <p>
            Я всего лишь выполнял свою работу, да, я выражал
            недовольство тем, что не привозили вовремя
            материалы, но из-за этого работа останавливалась.
            А из-за этого зарплату задерживали или
            платили гроши.
          </p>
        </div>
      </div>
      <div class="history-page__slide slide3">
        <img class="slide3__image-right slide-image" src="/img/history-page/history-img-3-1.png" alt="">
        <img class="slide3__image-right slide-image" src="/img/history-page/history-img-3-2.png" alt="">
        <div class="slide3__text-wrapper text-on-paper">
          <p>
            Хозяйство ликвидировали, а мы были лишены
            избирательных прав. Моего брата Осипа выселили,
            а сестру оставили жить в Гнездово, впоследствии ее
            восстановили в избирательном праве.
            Чтобы избежать высылки, мы с семьей вынуждены
            были бросить свой дом, хозяйство в деревне и
            завербоваться на работу во Владивосток, где я стал
            десятником ( старший над группой рабочих) по
            ремонту бараков для грузчиков порта, а Ефросинья
            работала поваром. Там, нам пришлось жить в
            бараке для рабочих в торговом порту.
          </p>
          <p>
            В 1934 году меня арестовали и осудили по статьям:
            ст. 58-10 и 59-3 «в» УК РСФСР.
          </p>
          <p>
            Я всего лишь выполнял свою работу, да, я выражал
            недовольство тем, что не привозили вовремя
            материалы, но из-за этого работа останавливалась.
            А из-за этого зарплату задерживали или
            платили гроши.
          </p>
        </div>
      </div>
      <div class="history-page__slide slide4">
        <img class="slide4__image-right slide-image" src="/img/history-page/history-img-4.png" alt="">
        <div class="slide4__text-wrapper text-on-paper">
          <p>
            Хозяйство ликвидировали, а мы были лишены
            избирательных прав. Моего брата Осипа выселили,
            а сестру оставили жить в Гнездово, впоследствии ее
            восстановили в избирательном праве.
            Чтобы избежать высылки, мы с семьей вынуждены
            были бросить свой дом, хозяйство в деревне и
            завербоваться на работу во Владивосток, где я стал
            десятником ( старший над группой рабочих) по
            ремонту бараков для грузчиков порта, а Ефросинья
            работала поваром. Там, нам пришлось жить в
            бараке для рабочих в торговом порту.
          </p>
          <p>
            В 1934 году меня арестовали и осудили по статьям:
            ст. 58-10 и 59-3 «в» УК РСФСР.
          </p>
          <p>
            Я всего лишь выполнял свою работу, да, я выражал
            недовольство тем, что не привозили вовремя
            материалы, но из-за этого работа останавливалась.
            А из-за этого зарплату задерживали или
            платили гроши.
          </p>
        </div>
      </div>
      <div class="history-page__slide slide5">
        <div class="slide5__header">
          Ефросинья Осиповна умерла 06.10.1976 г., а Василий Ильич в 28.07.1978 году.
          <br>13 августа 1998 г. Василий был реабилитирован.
        </div>
        <img class="slide5__images-center" src="/img/history-page/history-last-1.jpg" alt="">
      </div>
    </div>
  </main>
{% endblock %}
