{% extends './layout.twig' %}

{% block content %}
  <main class="home-wrap">
    <div class="home__title-wrap">
      <img src="img/index_title.png" alt="" class="home__title">
    </div>
    <div class="home__wrap">
      <div class="home__block">
        <img src="img/home-block-1.jpg" alt="">
        <div class="home__block_link">
          <a href="years-page.html" class="link">
            <img src="img/index_system.png" alt="">
          </a>
        </div>
      </div>
      <div class="home__block">
        <img src="img/home-block-2.jpg" alt="">
        <div class="home__block_link">
          <a href="victims-page.html" class="link">
            <img src="img/index_victims.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
