{% extends './layout.twig' %}

{% block content %}
  <main class="home-page">
    <div class="home-page__title-wrap">
      <img src="img/index_title.png" alt="">
    </div>
    <div class="home-page__sections-wrap">
      <div class="home-page__section-item">
        <a href="years-page.html">
          <img src="img/home-block-1.jpg">
          <div class="home-page__section-item-text">
            <img src="img/index_system.png">
          </div>
        </a>
      </div>
      <div class="home-page__section-item">
        <a href="victims-page.html">
          <img src="img/home-block-2.jpg">
          <div class="home-page__section-item-text">
            <img src="img/index_victims.png">
          </div>
        </a>
      </div>
  </main>
{% endblock %}
