{% extends './layout.twig' %}

{% block content %}
  <main class="home-wrap">
    <div class="home__title-wrap">
      <h1 class="home__title flexText">
        ретроспектива гулага
      </h1>
    </div>
    <div class="home__wrap">
      <div class="home__block">
        <img src="img/home-block-1.jpg" alt="">
        <div class="home__block_link">
          <a href="years-page.html" class="link">
            система
          </a>
        </div>
      </div>
      <div class="home__block">
        <img src="img/home-block-2.jpg" alt="">
        <div class="home__block_link">
          <a href="victims-page.html" class="link">
            жертвы
          </a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
