{% extends './layout.twig' %}

{% block content %}
  <main class="victims-page">
    <div class="victims-page__slider-wrap">
      <div class="victims-page__slider">
        {% for item in 1..5 %}
          <div class="victims-page__slider-item">
            <a href="#">
              <img src="{{ publicPath }}/img/victims-page/victim-{{ item }}.png" alt="">
              <div class="victims-page__slider-item-name">
                Нагинская Фрина Иоилевна
              </div>
              <img src="{{ publicPath }}/img/victims-page/victim-bg.png" class="victims-page__slider-item-background">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
