{% extends './layout.twig' %}

{% block content %}
  <main class="victims-page">
    <div class="victims-page__slider-wrap">
      <div class="victims-page__slider">
        {% for victim in victims %}
          <div class="victims-page__slider-item">
            <a href="{{ victim.link }}">
              <img src="{{ victim.photo }}" alt="">
              <div class="victims-page__slider-item-name">
                {{ victim.name }}
              </div>
              <img src="/img/victims-page/victim-bg.png" class="victims-page__slider-item-background">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
