@font-face {
  font-family: 'BravoSCT';
  src: url('../fonts/BravoSCT/BravoSCT.woff2') format('woff2'),
  url('../fonts/BravoSCT/BravoSCT.woff') format('woff'),
  url('../fonts/BravoSCT/BravoSCT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

