{% extends 'blocks/base.blocks/base/base.twig' %}



{% block content %}
  <div class="container-fluid">
    <div class="row">
      <main class="victims-wrap">
        <div class="victims__slider-wrap">
          <div class="victims__slider">
            {% for item in 1..5 %}
              <div class="victims__slider_item">
                <a href="#">
                  <img src="img/victim-{{ item }}.png" alt="">
                  <div>
                    Нагинская Фрина Иоилевна
                  </div>
                  <span>
                                        <img src="img/victim-bg.png" alt="">
                                    </span>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}
